@using System.Web.UI.WebControls
@using MinProjectMVC.Extensions
@model List<MinProjectMVC.Models.Incomes>


@{
    ViewBag.Title = "اطلاعات درآمد";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.Label("انتخاب شخص از لیست", new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownList("personId",null,"هیچکدام",new {@class="form-control"})
            @*@Html.ListBox("personId",null,new {@class="form-control"})*@
        </div>
    </div>

    <div class="form-group">
        @Html.Label("نام شخص", new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBox("personName", null, new { placeholder = "نام شخص را وارد کنید ...", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <input type="submit" value="جستجو" class="btn btn-primary" />
        </div>
    </div>
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>نام شخص</th>
            <th>درآمد</th>
            <th>تاریخ واریز</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.People.PersonName</td>
                <td>@item.IncomeAmount</td>
                <td>@item.IncomeDate.ToShamsi()</td>
            </tr>
        }
    </tbody>

</table>